In [22]:
import json
import urllib.request
import requests

In [25]:
Url = "http://fxsim.info:3000/user/<userid>/case/test"
def get_data():
    res = urllib.request.urlopen(Url)
    return json.load(res)

def submit_data(ret):
    s = requests.session()
    r =  s.post(Url, data=json.dumps(ret))
    print(r.text.encode("utf-8"))

In [26]:
# input as a nested map
input_data_map = get_data()

In [44]:
# input as pandas (optional)
import pandas as pd
input_data_pd = pd.DataFrame(input_data_map)
input_data_pd.iloc[:,:5]

      20100104   20100105   20100106   20100107   20100108
AUD     1.0949     1.0937     1.0882     1.0907     1.0848
BRL     1.7200     1.7296     1.7292     1.7409     1.7342
CAD     1.0377     1.0371     1.0333     1.0351     1.0345
CHF     1.0294     1.0322     1.0282     1.0341     1.0296
CNY     6.8273     6.8258     6.8272     6.8280     6.8274
DKK     5.1597     5.1668     5.1638     5.1981     5.1827
EUR     0.6935     0.6943     0.6942     0.6986     0.6965
GBP     0.6207     0.6246     0.6243     0.6284     0.6252
HKD     7.7555     7.7564     7.7546     7.7539     7.7553
INR    46.2700    46.1300    45.7200    45.6700    45.5000
JPY    92.5500    91.4800    92.5300    93.3100    92.7000
KRW  1149.0000  1138.2000  1130.0000  1135.0000  1127.7500
LKR   114.4000   114.3000   114.3000   114.2700   114.3500
MXN    12.9110    12.8160    12.7420    12.7590    12.7256
MYR     3.3960     3.3850     3.3790     3.3680     3.3750
NOK     5.7113     5.6986     5.6805     5.7118     5.6868
NTD    31.6500    31.8900    31.8300    31.8500    31.8200
NZD     1.3648     1.3592     1.3596     1.3651     1.3627
SEK     7.0633     7.0919     7.0744     7.1251     7.1185
SGD     1.3971     1.3956     1.3945     1.3971     1.3941
THB    33.1800    33.1500    33.1400    33.1100    33.1300
VEF     2.1446     2.1446     2.1446     2.1446     2.1446
ZAR     7.2955     7.3060     7.3060     7.4400     7.3565

In [67]:
# print(input_data_pd.iloc[:,0:5])
# print(input_data_pd.iloc[:,0].idxmax())
# print(input_data_pd.iloc[0,:])
# print(input_data_pd.iloc[0,:])
# print(max(input_data_pd.iloc[:,]))
# print(input_data_pd.loc['AUD',:])

In [138]:
# def fx(date):
#     start = 1000
#     max_rate_currency = input_data_pd.iloc[:,0].idxmax()

import operator
import numpy as np

start = 1000
currencies = input_data_pd.index
dates = input_data_pd.columns

for i in range(1,2):
    rate_change_up = {}
    for currency in currencies:
        rates = input_data_pd.loc[currency,:]
        rate_cur = rates[i]
        rate_prev = rates[i-1]
        if rate_cur > rate_prev:
            rate_change_up[currency] = [rate_cur-rate_prev, rate_cur, rate_prev]
#     print('unsorted', rate_change_up.items())
    
#     max_rate_up = sorted(rate_change_up.items(), key=lambda kv:kv[1], reverse=True)
    max_rate_up = min(rate_change_up.items(), key=lambda kv:kv[1])
    target_currency = max_rate_up[0]
    rate_prev = max_rate_up[1][2]
    rate_cur = max_rate_up[1][1]
    print(rate_prev, rate_cur)
#     day_rate = input_data_pd.loc[max_rate_up[0]]
#     test = pd.to_numeric(change_rate[0], downcast='signed')
#     print(type(test))

    prev_day_currency = start * rate_prev
    cur_usd = prev_day_currency / rate_cur
    print(cur_usd)
#     print(prev_day_currency)
    
    
        
        
            
# 1/rate=usd/cur
# usd = cur/rate
# cur = usd*rate

0.6935 0.6943
998.8477603341495

In [14]:
# sample submit
output = []
output_temporary = {}
output_temporary["date"] = "20100105"
output_temporary["trades"] = [{"buy":"BRL","sellamount":1000,"sell":"USD"}]
output_temporary["balance"] = {"BRL":"1729.6"}
output.append(output_temporary)
print(output)

[{'date': '20100105', 'trades': [{'buy': 'BRL', 'sellamount': 1000, 'sell': 'USD'}], 'balance': {'BRL': '1729.6'}}]

In [15]:
# submit data and get result
submit_data(output)

b'{"_elapsed":2083,"_end":1566974521,"_start":1566972438,"_status":"test case passed","gain":-474.653}'

In [ ]:
# ATTENTION THERE IS NAN VALUE
print input_data_pd.isnull().any(axis=1)